h1{
    text-align: center;
}
.service{
    background-color: seashell;
    padding: 6% 5% 5% 5%;
}
.col-md-3{
    padding: 2% 0% 2% 0%;
    text-align: center;
}
.row{
    padding: 2% 0% 0% 0%;
}

.col-md-3:hover{
    transform: scale(1.05);
}
